@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P', cursive;
    background-image: url(images/bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 800px;
    background-color: darkslategray; 
}

.score-board {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
}

.comp-points,
.player-points {
    color:  rgb(247, 182, 63);
}

.instruction {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-align: center;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 10px;
}

.results {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(210, 147, 30);
    text-align: center;
    
}

button {
    position: relative;
    font-size: 20px;
    border-radius: 20px;
    background-color: rgb(210, 147, 30);
    padding: 10px;
    font-family: 'Press Start 2P', cursive;
}

button:hover {
    background-color: rgb(247, 182, 63);
}

.bottomtext {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}